/* How We Work start */
.step-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Hover effect for color and background */
.step-box:hover {
    background-color: #b78d65;
    color: white;
}

.step-box:hover .step-icon {
    color: white;
}

.step-box:hover .step-text {
    color: white;
}

/* Ensure equal box height on smaller screens */
@media (max-width: 576px) {
    .step-box {
        height: auto;
    }
}

/* Icon Styling */
.step-icon {
    color: #1300e7bf;
    transition: color 0.3s ease;
}

/* Equalize icon size */
.step-icon {
    font-size: 3rem;
}

/* How We Work end */


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* footer end */


/* Custom cursor start */
.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1300e787;
    pointer-events: none;
    z-index: 9999;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid #fff;
}

/* Custom cursor end */

/* whatsapp start */
.back-to-top {
    margin: 65px 0;
}

.whatsapp-icon {
    position: fixed;
    bottom: 28px;
    right: 30px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    padding: 15px;
    z-index: 1000;
}

.whatsapp-icon i {
    font-size: 24px;
}

/* whatsapp end */

/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item img {
    object-fit: cover;
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    height: 630px;
}


.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: var(--bs-danger);
    color: var(--bs-white);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 30px;
    margin-left: 90px;
}

.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    left: 30px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-light);
    color: var(--bs-primary);
}


.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding-top: 120px;
    display: flex;
    align-items: center;
    background-color: rgba(8, 63, 182, 0.156);
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        padding-top: 45px;
    }
}

@media (max-width: 767px) {

    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }

    .navbar .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 13px;
        font-size: 24px;
        right: 10px;
    }

    .header-carousel .header-carousel-item .carousel-caption {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        padding-top: 120px;
        display: flex;
        align-items: center;
        background-color: rgba(9, 30, 62, .3);
    }

    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        height: 320px;
    }

    .navtext {
        display: none;
    }

    .header-carousel .owl-nav .owl-prev {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -45px;
        margin-bottom: -20px;
        display: none;
    }


    .header-carousel .owl-nav .owl-next {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 45px;
        margin-bottom: -20px;
        display: none;
    }
}


.header-carousel .header-carousel-item img {
    animation-name: image-zoom;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0% {
        height: 100%;
        /* opacity: 0.9; */
    }

    25% {
        height: 110%;
        /* opacity: 0.50; */
    }

    50% {
        height: 115%;
        /* opacity: 1; */
    }

    75% {
        height: 110%;
        /* opacity: 0.50; */
    }

    100% {
        height: 100%;
        /* opacity: 0.9; */
    }
}

/*** Carousel Hero Header End ***/